
const  ideas = [
   
{
img: "https://image.flaticon.com/icons/svg/2729/2729007.svg",
titulo: "Cursos de programação",
categoria: "Estudo",
descricao: " Lorem ipsum dolor sit amet consectetur adipisicing elit.",
url: "https://github.com/jefersonmmacedo/"
},   
{
   img: "https://image.flaticon.com/icons/svg/2729/2729042.svg",
   titulo: "Filmes em Família",
   categoria: "Entreteinimento",
   descricao: " Lorem ipsum dolor sit amet consectetur adipisicing elit. ",
   url: "https://github.com/jefersonmmacedo/"
   },      
{
   img: "https://image.flaticon.com/icons/svg/2728/2728995.svg",
   titulo: "Cursos para 3º Idade",
   categoria: "Estudo",
   descricao: " Lorem ipsum dolor sit amet consectetur adipisicing elit.",
   url: "https://github.com/jefersonmmacedo/"
   },      
{
   img: "https://image.flaticon.com/icons/svg/2728/2728995.svg",
   titulo: "Cursos de Inglês Online",
   categoria: "Estudo",
   descricao: " Lorem ipsum dolor sit amet consectetur adipisicing elit.",
   url: "https://github.com/jefersonmmacedo/"
   },
   {
      img: "https://image.flaticon.com/icons/svg/1940/1940981.svg",
      titulo: "Cozinhar",
      categoria: "Alimentação",
      descricao: " Lorem ipsum dolor sit amet consectetur adipisicing elit.",
      url: "https://github.com/jefersonmmacedo/"
      },
    {
         img: "https://image.flaticon.com/icons/svg/2829/2829734.svg",
         titulo: "Conversa com amigos",
         categoria: "Passatempo",
         descricao: " Lorem ipsum dolor sit amet consectetur adipisicing elit.",
         url: "https://github.com/jefersonmmacedo/"
     }
]