<!doctype html>
<html lang="pt-br">
  <head>
    <title>Tarefas - Minha Lista ♥️</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/style.css" >
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap" rel="stylesheet">
    </head>
  <body id="page-tarefas">
    <div id="container">
<header>
    <a href="/"><img src="img/logo.png" alt="Logotipo"></a>
  <nav>
    <li><a href="/">Início</a></li>
    <li><a href="/tarefas">Tarefas</a></li>
    <li><a href="#" onclick="onOff()">Nova Tarefa</a></li>
  </nav>
</header>
<section id="titulo">
  <p>em exibição</p>
  <h1>Tarefas</h1>
</section>

<main>
  <section id="ideias">
    {% include "ideias.html" %} 
  </section>
</main>

    <footer>
      <p id="footer">
          Com ♥️ <a href="https://github.com/jefersonmmacedo/" target="_blank">Jeferson Macedo</a> 
      </p>
  </footer>
  </div>
   
  {% include "modal.html" %}

<!-- Optional JavaScript -->
<script src="js/script.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>